# Oh my goodness that's too pain! Forget it and use PATH_INFO in another way!
# The htaccess file of Hi-Buluo.
# This is define the API, pages and <del>extensions</del> directories.

# Experiment: Force support PATH_INFO for Apache.
<Files *.php>
# AcceptPathInfo On
</Files>
# Enable URL Rewrite.
Options +FollowSymlinks
# Disable to list all directories by accessing non-mian page folder.
Options -Indexes
RewriteEngine on
# Try to use the same configure as Typecho
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# Deny user to access these pages.
RewriteRule ^kernel/$ - [F,L]
RewriteRule ^storage/$ - [F,L]
# Pages
# RewriteBase /
# RewriteRule ^api(.*)$ api.php [NC,QSA,L,E=PATH_INFO:$1]
RewriteRule ^assets(/.*)?$ - [NC,L]
# RewriteRule (.*) index.php [QSA,L,E=PATH_INFO:/$1]
# If you won't see 'No input file specifed' or other errors, please apply these rules:
# RewriteBase /
RewriteRule ^api(.*)$ api.php?/$1 [NC,L,QSA]
# RewriteRule ^assets(/.*)?$ - [NC,L,QSA]
RewriteRule (.*) index.php?/$1 [PT,L,QSA]